<ion-view title="Add Feed">
  <ion-content padding="true" class="has-header">
    <h1 style="color:#000000;">Add Feed</h1>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <form class="list" novalidate>
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="RSS Feed link" ng-model="feed.url" required>
        </label>
      </ion-list>
      <button class="button button-positive button-block" ng-click="addFeed()">Add</button>
    </form>
  </ion-content>
</ion-view>