<ion-view title="">
  <ion-content padding="true">

    <div class="card">
      <div class=" item item-image">
        <img ng-src="{{article.enclosure.link && article.enclosure.link || article.enclosure.thumbnail}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-text-wrap">
          <h2>{{article.title}}</h2>
          <p class="item-note">{{article.pubDate}}</p>
      </div>
      <div class="item item-text-wrap news-content" ng-show="article.content">
        <p style="color:#000000;" ng-bind-html="article.content"></p>
      </div>
  </ion-content>
</ion-view>