<ion-view title="{{currentFeed}}">
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-repeat="article in titles" style="border-radius: 8px;" ng-click="goToArticle(article)">
      <div class="item item-image" style="display:block;">
        <img ng-src="{{article.enclosure.link && article.enclosure.link || article.enclosure.thumbnail}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body">
        <h2>{{article.title}}</h2>
        <span class="item-note"> {{article.pubDate}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>