<ion-view title="Login">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content padding="true" class="has-header" name="loginForm">
    <div>
      <img src="img/jD5oFECbQNW0k7TocNHM_logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form class="list" novalidate>
      <ion-list>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="user.email" required>
        </label>
        <div class="error-container" ng-show="loginForm.email.$dirty &&
        loginForm.email.$invalid && loginForm.email.$touched">
          <div class="error">
            <i class="ion-information-circled assertive"></i>
            <span ng-show="loginForm.email.$error.required" class="assertive">This is required</span>
            <span ng-show="loginForm.email.$error.email" class="assertive">Please enter your email</span>
          </div>
        </div>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password" required>
        </label>
        <div class="error-container" ng-show="loginForm.password.$dirty &&
        loginForm.password.$invalid && loginForm.password.$touched">
          <div class="error">
            <i class="ion-information-circled assertive"></i>
            <span ng-show="loginForm.password.$error.required" class="assertive">Please enter your password</span>
          </div>
        </div>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ng-click="signin()" class="button button-positive button-block">Log in</a>
    </form>
    <a ui-sref="signup()" class="button button-positive button-block button-clear">or create an account</a>
  </ion-content>
</ion-view>