<ion-view title="My Feeds">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <ion-list>
      <ion-item ng-repeat="feed in feeds | filter: currentNews" ng-click="goToFeed(feed.feed)">
        <h2>{{feed.feed}}</h2>
        <ion-option-button class="button-assertive" ng-click="deleteFeed(feed.id)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <a ng-click="goToAdd()" class="button button-positive button-block">Add Feed</a>
  </ion-content>
</ion-view>