<ion-view title="Signup">
  <ion-content padding="true" class="has-header" name="signupForm">
    <div>
      <img src="img/j0eAhSzlQwOTv4HFecqR_logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="Username" name="username" ng-model="user.userName" required>
        </label>
        <div class="error-container" ng-show="signupForm.username.$dirty && signupForm.username.$invalid && signupForm.username.$touched">
          <div class="error">
            <i class="ion-information-circled assertive"></i>
            <span ng-show="signupForm.username.$error.minlength" class="assertive">min length is 4 characters</span>
            <span ng-show="signupForm.username.$error.required" class="assertive">This field is required</span>
          </div>
        </div>
        <label class="item item-input">
          <input type="email" placeholder="Email" name="email" ng-model="user.email" required>
        </label>
        <div class="error-container" ng-show="signupForm.email.$dirty && signupForm.email.$invalid && signupForm.email.$touched">
          <div class="error">
            <i class="ion-information-circled assertive"></i>
            <span ng-show="signupForm.email.$error.minlength" class="assertive">min length is 5 characters</span>
            <span ng-show="signupForm.email.$error.email" class="assertive">Please enter your email adress</span>
            <span ng-show="signupForm.email.$error.required" class="assertive">This field is required</span>
          </div>
        </div>
        <label class="item item-input">
          <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
        </label>
        <div class="error-container" ng-show="signupForm.password.$dirty && signupForm.password.$invalid && signupForm.password.$touched">
          <div class="error">
            <i class="ion-information-circled assertive"></i>
            <span ng-show="signupForm.password.$error.minlength" class="assertive">min length is 8 characters</span>
            <span ng-show="signupForm.password.$error.required" class="assertive">This field is required</span>
          </div>
        </div>
      </ion-list>
      <a ng-click="signup()" class="button button-positive button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>