body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Calibri, sans-serif;
    text-align: center;
}

a:link {
    text-decoration:none;
}

input[type=email], input[type=password], input[type=username], input[type=url] {
    width: 30%;
    padding: 12px 20px;
    margin: auto;
    margin-bottom: 12px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

button {
    background-color: #ff9700;
    color: white;
    padding: 14px 20px;
    margin: auto;
    margin-bottom: 12px;
    display: block;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 8px;
}

.inversed_button {
    background-color: #fff;
    border: 1px solid #ff9700;
    color: #ff9700;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    width: 40%;
    text-align: center;
    margin: auto;
}

.imgcenter {
    width: 50%;
    text-align: center;
    margin: auto;
}

img.avatar {
    width: 40%;
}

img.image_feed {
    width: 100%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* My Feed CSS */

#my_feeds {
    font-family: calibri, Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    width: 50%;
}

#my_feeds td, #my_feeds th {
    border: 1px solid #ddd;
    padding: 8px;
}

#my_feeds tr:nth-child(even){background-color: #f2f2f2;}

#my_feeds tr:hover {background-color: #ddd;}

#my_feeds th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    text-align: left;
    background-color: #ff9700;
    color: white;
}

.title{
    margin-top: 0px;
    margin-bottom: 0px;
}

.date{
    font-size: 80%;
    color: #949494;
}

.article{
    margin: auto;
    margin-top: 40px;
    text-align: justify;
    width: 50%;
}

.image_article{
    margin: auto;
    text-align: justify;
    width: 50%;
}

.center{
    margin: auto;
}

#my_feeds td{
    text-align: justify;
}

#add_feed_button{
    margin-top: 40px;
}

.delete_button{
    padding-left: 12px;
}

